body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #100720;
	color: #fff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
